!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      = @page_title ? @page_title : 'Welcome'
      | My Bookstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{:class => "#{params[:controller] == 'books' ? 'active' : ''}"}
              =link_to 'Home', root_path
            %li{:class => "#{params[:controller] == 'about' ? 'active' : ''}"}
              =link_to 'About', about_path
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Add New
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Book', new_book_path
                %li= link_to 'Category', new_category_path
                %li= link_to 'Author', new_author_path
                %li= link_to 'Publisher', new_publisher_path
    %header
      .container
        %h1
          My Bookstore
          %small= @page_title ? @page_title : 'Welcome'
    %section
      .container
        .row
          .col-md-8
            - if flash[:notice]
              .alert.alert-success= flash[:notice]
            - if flash[:alert]
              .alert.alert-danger= flash[:alert]
            = yield
          .col-md-4
            =render 'shared/sidebar'
    %footer
      .container
        Copyright by Jakub Oblizajek 2017 &copy;
